.u-center-text {
    text-align: center !important;
}

.u-mar-btm-big {
    margin-bottom: 8rem !important;
}

.u-mar-btm-medium {
    margin-bottom: 4rem !important;
}

.u-mar-btm-small {
    margin-bottom: 1.5rem !important;
}
.u-mar-top-big {
    margin-bottom: 8rem !important;
}
.u-mar-top-huge {
    margin-top: 10rem !important;
}