.u-center-text {
    text-align: center;
}

.u-mar-btm-big {
    margin-bottom: 8rem;
}

.u-mar-btm-medium {
    margin-bottom: 4rem;
}

.u-mar-btm-small {
    margin-bottom: 1.5rem;
}
.u-mar-top-big {
    margin-bottom: 8rem;
}
.u-mar-top-huge {
    margin-top: 10rem;
}